.margBut
{
  margin: 10px;
  /* height: 100%; */
}
.btnBar
{
  margin: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.appHieght
{
  height: 100%;
}
.btnBa
{
  /* flex-grow: 1; */
  width: 100%;
    height: 100%;
}
.btnBa div{
    /* height: 100%; */
  }
.stM
{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
 };
.tabCh
{
  /* padding: 0;
  height: 0px; */
}
